.clockContainer{
    display: grid;
    place-items: center;
    height: 100vh;

}
.clockCard{
   
   backdrop-filter: blur(4px);
 
  
    
}
.clock {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}